---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Inicio">
	<!--<Welcome />-->

	<h1>Inicio</h1>
	<p>Momento actual: {new Date().toLocaleTimeString()}</p>
	<p id="current-time">Momento actual real: {new Date().toLocaleDateString()}</p>

	<footer>
	</footer>

	<script>
		const footer = document.querySelector('footer');
		const currentTime = document.getElementById('current-time') as HTMLParagraphElement;

		const currentYear = new Date().getFullYear();

		if (footer) {
			footer.innerHTML = `&copy; ${currentYear} Tatiana G. All rights reserved.`;
		}

		if (currentTime) {
			currentTime.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
		}
	</script>
</Layout>
